<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" user-scalable="yes">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">
  <link rel="stylesheet" href="src/sass/style.css">
  <link rel="stylesheet" href="src/sass/page/front-page.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.min.css" integrity="sha512-T9Nrm9JU37BvYFgjYGVYc8EGnpd3nPDz/NY19X6gsNjb0VHorik8KDBljLHvqWdqz9igNqTBvZY4oCJQer4Xtg==" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/6.5.0/swiper-bundle.js" integrity="sha512-Sv6En/LkxULDcyACA1YXev7ZWxYw2cY0/6uCYpTj/rNUrlXSeau+AWeTbeT0oPfMp1Am7Ohn3bmyS9hgGNfJDQ==" crossorigin="anonymous"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <link rel="icon" type="image/png" href="../img/logo.png">
  <title>ユアコーディグ</title>
</head>
<body>
<header class="header">
  <div class="header-inner">
    <div class="header-logo">
    <a href=""><img src="img/logo.png" alt="ユアコーディング"></a>
    <h1 class="header-ttl">ユアコーディング</h1><!-- /.header-ttl -->
    </div><!-- /.header-logo -->
    <nav class="header-nav">
      <ul>
        <li><a href="#feature">特徴</a></li>
        <li><a href="#price">価格</a></li>
        <li><a href="#contact">お問い合わせ</a></li>
      </ul>
    </nav><!-- /.header-nav -->

    
    <!-- <div class="hanberger-btn"><img src="../img/bars_24.png" alt="menu"></div>/.hanberger-btn
    <div class="hanberger">
        <nav class="hanberger-nav">
            <ul>
                <li><a href="#feature">特徴</a></li>
                <li><a href="#price">価格</a></li>
                <li><a href="#contact">お問い合わせ</a></li>
            </ul>  
        </nav>
    </div> -->

    <div class="header-btn">
      <a href="#contact" class="contact-btn">お問い合わせ</a><!-- /.contact-btn -->
    </div><!-- /.header-btn -->
  </div><!-- /.header-inner -->
</header><!-- /.header -->
<section class="main">
  <div class="main-inner">
    <div class="main-copy">
      <h2>コーディングの手間を<br>
        最小に、デザインに注力<br>
        する助けに</h2>
      <p>ユアコーディングはコーディングに<br>
        特化したフリーランス<br>
        デザインに注力されたい方の<br>
        助けになります</p>
      <a href="#contact" class="contact-btn">お問い合わせ</a><!-- /.contact-btn -->
    </div><!-- /.main-copy -->
    <div class="main-img">
      <img src="img/main.png" alt="メインイメージ">
    </div><!-- /.main-img -->
  </div><!-- /.main-inner -->
</section><!-- /.main -->

<section class="feature">
  <div class="feature-inner" id="feature">
     <h2 class="feature-ttl " data-aos="fade-up">
    ユアコーディング3つの特徴<span>FEATURES</span>
  </h2><!-- /.feature-ttl -->
  <h2 class="feature-heading"  data-aos="zoom-in-up">
    高速コーディング
  </h2><!-- /.feature-heading -->
  <div class="feature-box"  data-aos="zoom-in-up">
   <figure><img src="../img/feature01.png" alt="特徴1"></figure>
   <div>
    <h3>コーディングに特化したフリーランスのため、<br>
      スピード感を持った開発が可能。</h3>
    <p>開発は常にスピードとの勝負です。 <br>
      ユアコーディングはコーディングに特化しているため、 <br>
      素早く納品することで、クライアントがデザインに注力 <br>
      する助けとなります。</p>
   </div>
  </div><!-- /.feature-box -->
  <h2 class="feature-heading"  data-aos="zoom-in-up">
    高品質
  </h2><!-- /.feature-heading -->
  <div class="feature-box"  data-aos="zoom-in-up">
   <div>
    <h3>正しいマークアップで、 <br>
      内部SEOに強いコーディングを <br>
      デフォルトで行います。</h3>
    <p>ユアコーディングでは、「予測しやすい」「再利用しやすい」<br>
       「保守しやすい」「拡張しやすい」と言った設計をもとに <br>
       きちんとコーディングを行うため、納品後も安心です。</p>
   </div>
      <figure><img src="../img/feature02.png" alt="特徴2"></figure>
  </div><!-- /.feature-box -->
  <h2 class="feature-heading"  data-aos="zoom-in-up">
    迅速なレスポンス
  </h2><!-- /.feature-heading -->
  <div class="feature-box"  data-aos="zoom-in-up">
   <figure><img src="../img/feature03.png" alt="特徴3"></figure>
   <div>
    <h3>原則いただいたメッセージは、 <br>
      業務時間内であれば6時間以内に <br>
      お返しいたします。</h3>
    <p>連絡を返さないフリーランスが多い中、 <br>
      ユアコーディングでは定期的な進捗報告など、 <br>
      社会人としての基本を踏まえて仕事を行なって <br>
      おります。</p>
   </div>
  </div><!-- /.feature-box -->
  </div><!-- /.feature-inner -->
</section><!-- /.feature -->
<section class="price">
  <div class="price-inner" id="price">
    <h2 class="price-ttl" data-aos="fade-up">
      価格<span>PRICE</span>
    </h2><!-- /.price-ttl -->
    <table data-aos="fade-up">
    <tr data-aos="fade-up">
      <th>HTMLコーディングトップページ</th>
      <td>30.000円〜</td>
    </tr>
    <tr data-aos="fade-up">
      <th>HTMLコーディング下層1ページ</th>
      <td>10.000円〜</td>
    </tr>
    <tr data-aos="fade-up">
      <th>HTML+WordPressトップページ</th>
      <td>55.000円〜</td>
    </tr>
    <tr data-aos="fade-up">
      <th>HTML+WordPress下層1ページ</th>
      <td>15.000円〜</td>
    </tr>
    </table>
    <p data-aos="fade-up">＊詳細な価格はページや仕様によって異なります</p>
  </div><!-- /.price-inner -->
</section><!-- /.price -->
<section class="question">
  <h2 class="question-ttl" data-aos="fade-up">
    よくある質問<span>FAQ</span>
  </h2><!-- /.question-ttl -->
  <div class="question-inner">
    <ul>
      <li class="question-list" data-aos="fade-up">
        <h3 class="question-q">デザインから一貫してお願いすることは可能でしょうか</h3><!-- /.question-q -->
        <span>+</span>
        <div class="question-body blocked">
        ユアコーディングはコーディングに特化したサービスですので、デザインからお受けすることは基本的にありません。 <br>
        ただデザインを行う際は提携しているデザイナーと連携して対応させていただきますので、別途ご連絡ください。</div><!-- /.question-body -->
      </li>
      <li class="question-list" data-aos="fade-up">
        <h3 class="question-q">WordPressのカスタマイズをお願いすることも可能でしょうか？</h3><!-- /.question-q -->
        <span>+</span>
        <div class="question-body">
         可能です。ただECサイトなどの場合は構築難易度や工数の関係で綿密にヒアリングさせていただきたく思います。
        </div><!-- /.question-body -->
      </li>
      <li class="question-list" data-aos="fade-up">
        <h3 class="question-q">コーディングのスピード感が知りたい</h3><!-- /.question-q -->
        <span>+</span>
        <div class="question-body">
         HTMLレスポンシブ込み5ページで1週間、10ページで2週間、WordPressサイト5ページで2週間、10ページで3週間が目安に <br>
         なります。
        </div><!-- /.question-body -->
      </li>
    </ul>
  </div><!-- /.question-inner -->
</section><!-- /.question -->

<section class="blog">
  <div class="blog-inner">
    <h2 class="blog-ttl" data-aos="fade-up">
      ブログ<span>BLOG</span>
    </h2><!-- /.blog-ttl -->
   <div class="blog-all">
    <div class="blog-item" data-aos="flip-left">
      <img src="../img/blog1.png" alt="ブログ1" id="img-blog1">
      <div class="blog-body">
        サイトをリニューアルオープンしました。
      </div><!-- /.blog-body -->
       <div class="blog-time">
         <span>2020.01.23</span>
         </div><!-- /.blog0-time -->
    </div><!-- /.blog-item -->
    <div class="blog-item" data-aos="flip-left">
      <img src="../img/blog2.png" alt="ブログ2" id="img-blog2">
      <div class="blog-body">
        WebサイトでSEO内部施策に適したコー <br>
        ディングでどれぐらいサイトが早くなるの <br>
        か検証してみました<br></div><!-- /.blog-body -->
       <div class="blog-time">
         <span>2020.01.24</span>
       </div><!-- /.blog0-time -->
    </div><!-- /.blog-item -->
    <div class="blog-item" data-aos="flip-left">
      <img src="../img/blog3.png" alt="ブログ3" id="img-blog3">
      <div class="blog-body">
        ユアコーディングではデザイナーの方を <br>
        広く募集しています。</div><!-- /.blog-body -->
       <div class="blog-time">
         <span>2020.01.25</span>
        </div><!-- /.blog0-time -->
    </div><!-- /.blog-item -->
    </div><!-- /.blog-all -->
  </div><!-- /.blog-inner -->
</section><!-- /.blog -->

<section class="work">
    <h2 class="work-ttl" data-aos="fade-up">
      制作実績<span>WORKS</span>
    </h2><!-- /.work-ttl -->
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img src="../img/work1.png" alt="ワーク1">
          <div class="work-boby">
            <div class="work-content">
              コーディングカンファレンスのイベント <br>
              LPの制作を行いました！
            </div><!-- /.work-content -->
              <ul class="work-list">
                <li>採用技術：jQuery,WordPress</li>
                <li>実装期間：4週間</li>
                <li>担当コーダー：石井</li>
              </ul><!-- / -->
          </div><!-- /.work-boby -->
        </div><!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="../img/work3.png" alt="ワーク3">
          <div class="work-boby">
            <div class="work-content">
              株式会社サンプル様採用サイトのコーデ <br>
              ィングを行いました！
            </div><!-- /.work-content -->
              <ul class="work-list">
                <li>採用技術：jQuery,Bootstrap4</li>
                <li>実装期間：2週間</li>
                <li>担当コーダー：石井</li>
              </ul><!-- / -->
          </div><!-- /.work-boby -->
        </div><!-- /.swiper-slide -->
        <div class="swiper-slide">
          <img src="../img/work2.png" alt="ワーク2">
          <div class="work-boby">
            <div class="work-content">
              株式会社サンプル様通販サイトのコーデ<br>
              ィングを行いました！
            </div><!-- /.work-content -->
              <ul class="work-list">
                <li>採用技術：jQuery,Bootstrap4</li>
                <li>実装期間：6週間</li>
                <li>担当コーダー：石井</li>
              </ul><!-- / -->
          </div><!-- /.work-boby -->
        </div><!-- /.swiper-slide -->
      </div><!-- /.swiper-wrapper -->
    </div><!-- /.swiper-container -->
</section><!-- /.work -->
<section class="contact">
  <div class="contact-inner"  id="contact">
    <h2 class="contact-ttl" data-aos="fade-up">
      お問い合わせ<span>CONTACT</span>
    </h2><!-- /.contact-ttl -->
    <p class="p1"  data-aos="fade-up">コーディングの人出が足りないとき、 <br>
      あなたの力になります</p>
<form action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeuD9e410l5AuhYdbxco-9mf-R7N_g7QmqI-92B4ZeZlTcc-Q/formResponse" id="form">
<div class="contact-form" data-aos="fade-up">
  <div class="contact-item">
    <p class="contact-label">
      お名前<span class="contact-required">必須</span>
    </p>
    <input type="text" class="contact-input" name="entry.20017593" required>
  </div>
  <div class="contact-item">
    <p class="contact-label">
      メールアドレス<span class="contact-required">必須</span>
    </p>
    <input type="email" class="contact-input" name="entry.387175915" required>
  </div>
  <div class="contact-item">
    <p class="contact-label isMsg">お問い合わせ内容<span class="contact-required">必須</span></p>
    <textarea type="contents" class="contact-textarea" name="entry.1878462720" required></textarea>
  </div>
  <div class="checkbox-wrapper">
    <input type="checkbox" class="checkbox" id="privacyCheck">
    <label for="poricy" class="label center">
      プライバシーポリシーに同意する
    </label>
  </div><!-- /.checkbox-wrapper -->
 <input type="submit" class="contact-btn center submit-btn" id="js-submit" value="送信する">
  <p class="end-message">お問い合わせありがとうございました</p>
  <p class="false-message">送信失敗です</p>
</div>  
</form>
</div><!-- /.contact-inner -->
</section><!-- /.contact -->
<footer>
  <h2 class="footer-ttl">ユアコーディング</h2><!-- /.footer-ttl -->
 <div class="footer-copy">
  <ul>
   <li>プライバシーポリシー</li>
   <li>個人商取引法に基づく表記</li>
  </ul>
  </div>
  <small>©ユアコーディング, All Rights Reserved.</small>
</footer>
<script>
var swiper = new Swiper('.swiper-container', {
});
</script>
 <script src="../js/script.js"></script>
</body>
</html>


